$light_on_dark: #F2F2E7;
$dark_blue: #337AB7;
$green : #5CB85C;
$red : #C12E2A;
//$banner_bg: #104c77;
$banner_bg: #820246;
$banner_bg_dark: #820426;
$banner_border: #FCCD0F;
$banner_main_text: #e09600;
$banner_sub_text: #E4E2D9;
$site_bg: #ccc5b8;
$h1: #556F91;
$well_bg_light: #e8dfcd;
$well_bg_dark: #dad0bf;
$well_border: #aba58d;
$error_red : #a94442;

.navbar-brand {
  background-image: none;
  background-repeat: no-repeat;
  background-size: 56px;
  width: 69px;
  margin-left: 0px !important; // b/c bootstrap seems to be forcing -15px!
}

// login page
#banner {
  display: flex;
  background-color: $banner_bg;
  position: relative;
  //padding-left: 130px;
  -webkit-box-shadow: 9px 4px 34px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 9px 4px 34px 0px rgba(0,0,0,0.57);
  box-shadow: 9px 4px 34px 0px rgba(0,0,0,0.57);
  top: -60px; // b/c body padding is 60px
  border-color: $banner_border;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  width: 100%;
}

// define all the colors for the navbar menu, top-level items
$nav_text : $light_on_dark;
// hover
$nav_hover: lighten($banner_bg, 8%);
$nav_hover_text : lighten($nav_text, 8%);
// active
$nav_active: lighten($nav_hover, 8%);

// filter_controls
$filter_control_bg: $banner_bg;
