.area
  .name {{ name }}
  .subareas.comma-list
    | {{#subarea_ids}}
    <subarea id='{{this}}' subareas='{{subareas}}' />
    | {{/subarea_ids}}

style
  include:scss /area_subarea.scss

script.
  import Subarea from 'subarea.ractive.pug'

  export default Ractive.extend({
    template: $TEMPLATE,
    css: $CSS,
    computed: {
      name: function() {
        if (this.get('area_id') !== 0) {
          return _(this.get('areas')).findWhere({
            id: this.get('id')
          }).name;
        }
      }
    },
    components: {
      subarea: Subarea
    }
  });

