ul.dropdown-menu#performance_indicator_filter_select
  | {{#planned_results }}
  li.dropdown-submenu.planned_result
    div
      | {{ indexed_description }}
    ul
      | {{#outcomes }}
      li.dropdown-submenu.outcome
        div
          | {{ indexed_description }}
        ul
          | {{#activities}}
          li.dropdown-submenu.activity
            div
              | {{ indexed_description }}
            ul
              | {{#performance_indicators}}
              li.performance_indicator
                a.opt( on-click='@this.select(id)')
                  .text {{ indexed_description }}
                  .fa.fa-check
              | {{/performance_indicators}}
          | {{/activities}}
      | {{/outcomes }}
  | {{/planned_results }}

